.dashboard{
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 4px;
  padding: 0 12px;
}

.dashboard-item{
  background-color: #222;
  color: white;
  width: 100%;
  padding: 0 12px;
  border: 2px solid rgba(127,0,127,1);
  background-color: rgba(127,0,127,0.2);
  color: purple;
  border-radius: 8px;
}

.spending-chart{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

h1, h4{
  margin: 12px 0 12px 12px;
}

nav{
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  border: 2px solid rgba(127,0,127,1);
  background-color: rgba(127,0,127,0.2);
  border-radius: 8px;
  margin: 8px;
  padding: 4px;
}

a{
  /* border: 2px solid blue; */
  font-size: 24px;
  width: 100%;
  color: purple;
  text-decoration: none;
}

a > p{
  font-size: 12px;
  margin: 0;
}

.record{
  padding: 12px;
}

.expenses, .income{
  border-radius: 12px;
  padding: 12px;
  margin-bottom: 8px;
}

.expenses{
  border: 2px solid rgba(255,0,0);
  background-color: rgba(255,0,0,0.2);
}

.expenses h2, .expenses p{
  color: red;
  margin: 4px 0;
}

.income{
  border: 2px solid rgba(0,255,0);
  background-color: rgba(0,255,0,0.2);
}

.income h2, .income p{
  color: green;
  margin: 4px 0;
}

form{
  display: flex;
  flex-direction: column;
}

input, select{
  margin-bottom: 12px;
  padding: 8px;
  font-size: 16px;
}

.chips{
  padding: 8px;
}

.chips > button{
  margin: 4px;
  padding: 8px;
  border-radius: 50px;
  border: 2px solid rgba(127,0,127,1);
  background-color: rgba(127,0,127,0.2);
  cursor: pointer;
  color: purple;
}

.badges{
  padding: 8px;
  height: 80vh;
  overflow: auto;
}

.badge{
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 8px;
}

.badge p{
  margin: 0;
}

.badge span{
  font-size: 12px;
}

.badge > .right{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.badge button{
  padding: 4px 12px;
}

