body{
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 100px;
}

.dashboard{
  padding: 12px;
}

.overview{
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 4px;
}

.overview-item{
  background-color: #222;
  color: white;
  width: 100%;
  padding: 0 12px;
  box-shadow: rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: white;
  color: black;
  font-weight: bold;
  border-radius: 8px;
}

.overview-item:nth-child(1), .income{
  background-image: linear-gradient(to right, white, white, white, green);
}

.overview-item:nth-child(2), .expenses{
  background-image: linear-gradient(to right, white, white, white, red);
}

.spending-chart, .earnings-chart{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

nav{
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background-color: white;
  box-shadow: rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 50px;
  margin: 0 8px 12px 8px;
  padding: 8px;
}

a{
  /* border: 2px solid blue; */
  font-size: 24px;
  width: 100%;
  color: black;
  text-decoration: none;
  padding: 8px 0 8px 0;
}

.active{
  border-radius: 50px;
  background-color: rgba(0,255,0,0.2);
  color: green;
}

a > p{
  font-size: 12px;
  margin: 0;
}

.record{
  padding: 12px;
}


form{
  display: flex;
  flex-direction: column;
}

input, select{
  margin-bottom: 12px;
  padding: 8px;
  font-size: 16px;
  border-radius: 12px;
}

input[type=submit]{
  border: none;
  border-radius: 50px;
  padding: 12px;
  box-shadow: rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: rgba(0,255,0,0.2);
  color: green;
}

.expenses, .income{
  border-radius: 12px;
  padding: 12px;
  margin-bottom: 8px; 
}

.expenses h3{
  color: darkred;
  margin: 4px 0;
}

.income h3{
  color: darkgreen;
  margin: 4px 0;
}


.transactions{
  padding: 12px;
}

.filters > button{
  margin: 4px;
  
  border: none;
  background-color: #222;
  color: white;
  padding: 12px;
  box-shadow: rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: white;
  color: black;
  font-weight: bold;
  border-radius: 50px;
}

.badges{
  padding: 12px 0;
  height: 575px;
  overflow: auto;
}

.badge{
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;

  background-color: #222;
  color: white;
  padding: 12px;
  box-shadow: rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: white;
  color: black;
  font-weight: bold;
  border-radius: 8px;
}

.badge p{
  margin: 0;
}

.badge span{
  font-size: 12px;
}

.badge > .right{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.badge button{
  border: none;
  background-color: #222;
  color: white;
  padding: 12px;
  box-shadow: rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: red;
  color: white;
  font-weight: bold;
  border-radius: 50px;
}

